@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    background: none !important;
    position: relative;
}
.active::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: white !important;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.ant-table-thead > tr > th{
    background-color: #1B1F3B !important;
}

.ant-table-thead .ant-table-cell {
    color: white !important;
}

.ant-table-cell.ant-table-cell-row-hover{
    background: none !important;
}

.ant-btn{
    background-color: #1B1F3B !important;
}



  .ant-slider .ant-slider-handle::after,.ant-slider .ant-slider-handle::before {
    border-radius: 20px !important;
    background-color: #1B1F3B !important;
  }
 